LANGUAGE 21, 1

1 VERSIONINFO
 FILEVERSION 1, 0, 0, 0
 PRODUCTVERSION 1, 0, 0, 0
 FILEOS 0x4
 FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Winamp Control Plugin"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "LegalCopyright", "Copyright (c) 2003 x-phile"
      VALUE "OriginalFilename", "WinampC.dll"
      VALUE "ProductName", "Winamp Control Plugin"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
