#include <windows.h>

// English (U.K.) resources
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,1,0,0
PRODUCTVERSION  1,1,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"   //"languageID" '+' "charsetID" - (U.K. English,Unicode)
    BEGIN
      //add standard values
      VALUE "CompanyName",      "\0"				//(required)
      VALUE "FileDescription",  "Winamp Control Plugin\0"	//(required)
      VALUE "FileVersion",      "1.1.0\0"			//(required)
      VALUE "InternalName",     "\0"				//(required)
      VALUE "LegalCopyright",   "Copyright © 2003 x-phile\0"    
      VALUE "OriginalFilename", "WinampC.dll\0"			//(required)
      VALUE "ProductName",      "Winamp Control Plugin\0"	//(required)
      VALUE "ProductVersion",   "1.1.0\0"			//(required)
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 0x4b0     //languageID, charsetID (U.K. English(2057),Unicode(1200))
  END
END
