#include <windows.h>

// English (U.K.) resources
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,1,1,0
PRODUCTVERSION  1,1,1,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"   //"languageID" '+' "charsetID" - (U.K. English,Unicode)
    BEGIN
      //add standard values
      VALUE "CompanyName",      "x-phile"
      VALUE "FileDescription",  "Winamp Control Plugin"
      VALUE "FileVersion",      "1.1.1"
      VALUE "InternalName",     "Winamp Control Plugin"
      VALUE "LegalCopyright",   "Copyright © 2003 Artur Dorochowicz"    
      VALUE "OriginalFilename", "WinampC.dll"
      VALUE "ProductName",      "Winamp Control Plugin"
      VALUE "ProductVersion",   "1.1.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 0x4b0     //languageID, charsetID (U.K. English(2057),Unicode(1200))
  END
END
