#include <windows.h>

#include "version.h"


// English (U.K.) resources
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     WINAMPC_VERSION_MAJOR,WINAMPC_VERSION_MINOR,WINAMPC_VERSION_BUILD,WINAMPC_VERSION_REVISION
PRODUCTVERSION  WINAMPC_VERSION_MAJOR,WINAMPC_VERSION_MINOR,WINAMPC_VERSION_BUILD,WINAMPC_VERSION_REVISION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"   //"languageID" '+' "charsetID" - (U.K. English,Unicode)
    BEGIN
      //add standard values
      VALUE "CompanyName",      ""
      VALUE "FileDescription",  "Winamp Control Plugin"
      VALUE "FileVersion",      WINAMPC_VERSION_STRING
      VALUE "InternalName",     "Winamp Control Plugin"
      VALUE "LegalCopyright",   "Copyright © " WINAMPC_COPYRIGHT_YEARS_STRING " Artur Dorochowicz"    
      VALUE "OriginalFilename", "WinampC.dll"
      VALUE "ProductName",      "Winamp Control Plugin"
      VALUE "ProductVersion",   WINAMPC_VERSION_STRING
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 0x4b0     //languageID, charsetID (U.K. English(2057),Unicode(1200))
  END
END
